<div class="baslik_div">
  <div class="kolon sol">LOGO</div>
  <div class="kolon orta">PERSONEL İNSAN KAYNAKLARI SİSTEMİ</div>
  <div class="kolon sag"><a href="app"> ÇIKIŞ YAP </a></div>
</div>


<!--<nav>Web siterinde gezinnme işlemlerinde kullanılır örenğin menu başında</nav>
<ul>Liste formatında kullanılır </ul>
<li>ul içinde tanımlanır her bir liste öğesini tanımlar</li>
<a>Bağlantı, link etiketleri için kullanılır </a>
<href>Bağlantının gideceği adresi belirtir</href>  -->

<div class="kolon sol">
  <nav class="menu">
    <ul>
      <li><a href="app/main">AnaSayfa</a></li>
      <li><a href="app/personel">Personel</a></li>
      <li><a href="app/unit">Birimler</a></li>
      <li><a href="app/city">Şehirler</a></li>
      <li><a href="app/report">Raporlar</a></li>
      <li><a href="app/education">Öğrenim</a></li>
    </ul>
  </nav>
</div>
<div class="kolon data">
  <!-- Bu angularin bir generic compananeti: Bu yönlendirmelerdeki(routuingteki) companenti yürütüyor. Bir kere tanımlamamız yeterli.
  Burada mesela kolon data içinde gelecek işlemler, Menü içine bu tagi açsaydık oraya gelecekti -->
  <router-outlet></router-outlet>
</div>





















