<p-splitter [style]="{ height: '100%', width: '100%' }" layout="vertical">
  <!-- Üst Yarım -->


  <ng-template #panel>
    <p-splitter [style]="{ height: '100%', width: '100%' }" layout="horizontal">
      <ng-template #panel>

        <div>
          <p-chart
            type="bar"
            [data]="basicData"
            [options]="basicOptions"
            width="800"
            height="380"
          >
          </p-chart>
        </div>
      </ng-template>
      <ng-template #panel>

        <div>
          <p-chart type="pie"
                   [data]="data"
                   [options]="options"
                   width="700"
                   height="370"

          />
        </div>
      </ng-template>
    </p-splitter>
  </ng-template>

  <!-- Alt Yarım -->

  <ng-template #panel>
    <p-splitter [style]="{ height: '100%', width: '100%' }" layout="horizontal">
      <ng-template #panel>
        <div class="flex items-center justify-center h-full font-bold">Panel 3</div>
      </ng-template>
      <ng-template #panel>
        <div class="flex items-center justify-center h-full font-bold">Panel 4</div>
      </ng-template>
    </p-splitter>
  </ng-template>
</p-splitter>



