
.header {
  margin-top: 35px;
  margin-bottom: 35px;


}

.tablo {
  margin-top: 100px;
  height: 100%;
  display: flex;
  position: fixed;
}

.islem {
/ / left: 1000 px;
  display: flex;
/ / justify-content: flex-end;
  width: 100%;
}


.kolon {
  float: left;
  padding: 10px;
  margin: 10px;
  height: 100px;
}


.test {
  float: right;

  width: 300px;
}

